<%= link_to "Development Root", root_path() %><br>
Mxit Id: <%= @user.auth_key %><br>
<% if @user.profile %>
  Profile Name: <%= @user.profile.name %> <br>
<% end %>
<% if @user.plot %>
  Plot Name: <%= @user.plot.name %> <br>
<% end %>
<%= link_to "Mailbox", messaging_inbox_path() %> | <%= link_to "Profile", profile_path() %><br>
<b>===D-E-B-U-G===</b><br>
