<%= render "mxit/debug_header" %>
<% @profile.errors.full_messages.each do |msg| %>
  <b> :( <%= msg %></b><br/>
<% end %>
<%= form_for [@user, @profile], :url => user_profile_path(@user) do |f| %>
  <%= f.label :name, 'Choose your name: ' %> <br/>
  <%= f.text_field :name %> <br/>
  <%= f.submit 'Send' %>
<% end %>