<%= render "mxit/debug_header" %>
<b> <%= @profile.name %>: </b> <%= link_to "Refresh", user_profile_path(@profile.user) %><br>
<%= link_to_if((@user != @profile.user), "Send Message", new_user_messaging_message_path(@profile.user)){} %><br>
<b>Build: </b> <br>
<%= link_to "Build Plasma Generator", game_build_path(:resource_type => :plasma, :object_type => :generator) %> <br>
<b>Resource Generators: </b><br>
<% @profile.user.plot.resource_generators.each do |gen| %>
  <b> <%= gen.resource_type %>: </b> <%= gen.level %> |
  <%= upgrade_link(gen) %> |
  <%= link_to "Destroy", game_destroy_path(id: gen.id) %> <br>
<% end %>
<b>Resource Storage: </b><br>
<% @profile.user.plot.silos.each do |silo| %>
  <b> <%= silo.resource_type %>: </b> <%= silo.level %> <br>
<% end %>