<%= render "mxit/debug_header" %>
<% @plot.errors.full_messages.each do |msg| %>
  <b> :( <%= msg %></b><br/>
<% end %>
<%= form_for [@user, @plot], :url => user_plot_path(@user) do |f| %>
  <%= f.label :name, 'Choose your plot name: ' %> <br/>
  <%= f.text_field :name %> <br/>
  <%= f.submit 'Send' %>
<% end %>