<%= render "mxit/debug_header" %>
<b>Mailbox: </b><br>
<% @conversations.each do |conversation| %>
  <% unread = conversation.has_unread_messages %>
  <% if unread %><b> (*) <% end %>
  <%= link_to conversation.participant.profile.name, messaging_conversation_path(conversation) %>
  <% if unread %></b><% end %>
  (<%= format_last_message_time(conversation.updated_at) %> ago)<br>
  <br>
<% end %>