<%= render "mxit/debug_header" %>
<%= link_to "Reply", new_user_messaging_message_path(@conversation.participant) %> |
<%= link_to "Reload", messaging_conversation_path(@conversation)%> <br><br>
<b> <%= link_to @recipient_name, user_profile_path(@conversation.participant) %>: </b> <br>
<% @conversation.messages.reverse_each do |message| %>
  <%= message.sent_by?(@user) ? content_tag(:em, "(#{message.text})") : "#{message.text}" %> <br>
<% end %>