<%= render 'debug_header' %>

<%= link_to "All Players", users_path %> <br>
<% if @user.profile %>
  <%= link_to "Delete Profile", user_profile_path(@user, :destroy => true) %>
<% end %> <br>
<% if @user.plot %>
  <%= link_to "Delete Plot", user_plot_path(@user, :destroy => true) %>
<% end %>