<%= render "mxit/debug_header" %>
<%= link_to "View older messages", messaging_conversation_path(Messaging::Conversation.sender_conversation(@user, @recipient)) %> <br>
<b><%= @error_message %> </b><br>
