<%= render "mxit/debug_header" %>
Sending message to <%= @recipient.profile.name %>. <br>
<%= link_to "View older messages", messaging_conversation_path(Messaging::Conversation.sender_conversation(@user, @recipient)) %> <br>

<% @message.errors.full_messages.each do |error_message| %>
<b><%= error_message %></b><br>
<% end %>

<%= form_for [@recipient, @message], url: user_messaging_message_index_path(@recipient) do |f| %>
  <%= f.label :text, 'Enter your message: ' %> <br>
  <%= f.text_field :text %> <br>
  <%= f.submit 'Send' %>
<% end %>
